#commentCard {
  padding: 20px 0;
  padding-left: 50px;
  position: relative;
}
.commentCard {
  &-avatar {
    position: absolute !important;
    left: 5px;
  }
  &-head {
    position: relative;
    &-name {
      display: inline-block;
    }
    &-datetime {
      margin-left: 10px;
      color: #555;
      display: inline-block;
      font-size: 13px;
    }
    &-replyBtn {
      position: absolute;
      right: 10px;
      cursor: pointer;
      &:hover {
        color: var(--ant-primary-color);
      }
    }
  }

  &-content {
    white-space: pre-wrap;
    background-color: var(--highlight-background-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }

  &-footer {
    font-size: 13px;
    span {
      cursor: pointer;
      color: #555;
    }
  }
}

.commentReply {
  font-size: 13px;
}
