.comment-editor {
  z-index: 99;
  background-color: var(--highlight-background-color);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  .editor {
    margin-bottom: 10px;
    border-radius: 0;
    outline: none;
  }
  .toolbar {
    line-height: 35px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: var(--background-color);
    border-bottom: none;
    padding-left: 10px;
    .emoji-icon {
      font-size: 20px;
      margin-right: 15px;
    }
    .emoji-icon:hover {
      color: cadetblue;
      cursor: pointer;
    }
  }
}
.emailTip {
  text-align: center;
}
.replyItem {
  .boss {
    background-color: cadetblue;
    color: #fff;
    padding: 0 3px;
  }
  .username {
    color: var(--ant-primary-color);
  }
  .ant-comment-content-author-time {
    color: #555;
  }
}

.emoji-Popover {
  box-sizing: border-box;
  z-index: 9999;
}
.emojiAll {
  display: flex;
  flex-wrap: wrap;
  z-index: 9999;

  width: 273px;
  li {
    padding: 5px;
    border: 1px solid #eee;
    font-size: 16px;
  }
  li:hover {
    border: 1px solid red;
    cursor: pointer;
  }
}
