header {
  a {
    color: var(--color);
  }
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: var(--head-background-color);
  border-bottom: 1px solid #e8e9e7;
  z-index: 10;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  #iphone-menus {
    font-size: 20px;
    cursor: pointer;
    display: none;
    span {
      margin: auto;
    }
  }

  #logo {
    font-family: "汉仪霹雳体简";
    font-size: 35px;
    line-height: 60px;
    position: absolute;
    left: 15px;
    top: 0;
    cursor: pointer;
  }

  #nav {
    display: inline-flex;
    margin: 0 auto;

    li {
      line-height: 60px;
      padding: 0 20px;
      position: relative;
      margin-right: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    li:hover {
      color: var(--ant-primary-color);
      cursor: pointer;

      &::before {
        width: 50%;
      }
      &::after {
        width: 50%;
      }
    }

    li::before {
      width: 0%;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: #6bc30d;
      background-color: var(--ant-primary-color);
      content: "";
      transition: all 0.6s;
      z-index: 99999;
    }
    li::after {
      width: 0%;
      height: 3px;
      position: absolute;
      bottom: 0;
      right: 50%;
      background-color: #6bc30d;
      background-color: var(--ant-primary-color);
      content: "";
      transition: all 0.6s;
      z-index: 99999;
    }
  }

  .header-action {
    position: absolute;
    right: 25px;
    top: 0;
    height: 100%;
    line-height: 60px;

    .setting {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      margin-right: 20px;
      font-size: 30px;
      vertical-align: middle;
      display: inline-block;

      cursor: pointer;
      &:hover {
        background-color: var(--ant-primary-color);
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        color: #eee;
      }
    }
    .user {
      display: inline-block;
    }
  }
  .active {
    color: #6bc30d;
    color: var(--ant-primary-color);

    ::before {
      width: 100% !important;
      height: 3px;
      position: absolute;
      bottom: -1px;
      left: 0 !important;
      background-color: #6bc30d;
      background-color: var(--ant-primary-color);
      content: "";
      transition: all 0.6s;
    }
  }

  .iphone-nav {
    margin-bottom: 0;
    li {
      width: 100px;
      border: 1px solid var(--ant-primary-color);
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    a {
      color: #212220;
    }

    .active {
      color: var(--ant-primary-color);
    }
  }
}

.setting {
  position: relative;
  li {
    margin-bottom: 15px;
    display: flex;
    h4 {
      flex: 0 0 25%;
      text-align: right;
    }
  }
  .themeItem {
    width: 50px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .tip {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
  }

  .goAdmin {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1300px) {
  header {
    #logo {
      display: inline;
      position: relative;
      left: 0;
    }

    #iphone-menus {
      display: inline;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .ant-col-offset-4 {
    margin-left: 0;
  }
}

.ant-modal-title {
  text-align: center;
}
