.homeBanner {
  height: 100vh;
  position: relative;

  .bannerContent {
    z-index: 9;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #ffffff;

    p {
      margin-bottom: 0;
    }

    &-title {
      // text-shadow: #ccffff 0px 1px 2px, #ccffff 1px 0px 2px,
      //   #ccffff 0px -1px 2px, #ccffff -1px 0px 2px;
      font-size: 40px;
      font-family: "汉仪霹雳体简";
      animation: zoomIn;
      animation-duration: 1s;
    }

    &-autograph {
      word-wrap: break-word;
      font-size: 18px;
      letter-spacing: 10px;
      margin: 15px 0;
      animation: zoomIn;
      animation-duration: 1s;
    }

    &-Button {
      padding: 15px;
      cursor: pointer;
      background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
      border: 0;
      color: #fff;
      font-size: 15px;
      margin-top: 30px;
      box-shadow: 6px 0px 0px #00e6f6;
      outline: transparent;
      position: relative;
      animation: zoomIn;
      animation-duration: 1s;
      &::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: "立即进入";
        padding: 15px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          45deg,
          transparent 3%,
          #00e6f6 3%,
          #00e6f6 5%,
          #ff013c 5%
        );
        text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
        clip-path: var(--slice-0);
      }
      &:hover::after {
        animation: 1.5s glitch;
        animation-timing-function: steps(2, end);
      }
    }

    &-icon {
      bottom: 20px;
      font-size: 24px;
      position: absolute;
      padding: 10px 15px;
      border-radius: 50%;
      cursor: pointer;
      left: 50%;
      margin-left: -27px;
      path {
        font-weight: bold;
      }
      &:hover {
        background-color: var(--ant-primary-color);
      }
    }
  }

  .fast-nav-btn {
    position: fixed;
    right: 55px;
    top: 40px;
    z-index: 9999;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    &:hover {
      background-color: var(--ant-primary-color);
    }
  }
}

.fast-nav-mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.fast-nav {
  transform: translateZ(0) translateX(45%) skew(-12deg);
  z-index: 10;
  transition: 0.5s right;
  width: 800px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -800px;
  z-index: 999;
}
.fast-nav-hide {
  right: 0;
}

.fast-nav-menus {
  position: fixed;
  top: 200px;
  right: 60px;
  z-index: 999999;
  font-size: 20px;
  li {
    display: block;
    text-align: right;
    line-height: 80px;
    &:hover {
      color: var(--ant-primary-color);
      cursor: pointer;
    }
  }
}

.container h3 {
  overflow: hidden;
  margin-bottom: 20px;
  height: 40px;
}
.container h3 span {
  color: #fff;
  font-size: 31px;
  line-height: 40px;
}
#effect1 {
  color: var(--ant-primary-color);
  display: none;
  font-size: 16px;
  margin-top: 25px;
  height: 40px;
  position: relative;
  font-family: "Microsoft Yahei";
}
#effect1 span {
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  line-height: 40px;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
