.homeBanner {
  height: 100vh;

  @media screen and (min-width: 800px) {
    background-attachment: fixed;
  }

  position: relative;
  #homeParticle {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .bannerContent {
    z-index: 9;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #ffffff;

    p {
      margin-bottom: 0;
    }

    &-title {
      text-shadow: #ccffff 0px 1px 2px, #ccffff 1px 0px 2px,
        #ccffff 0px -1px 2px, #ccffff -1px 0px 2px;
      font-size: 40px;
      font-family: none;
    }

    &-autograph {
      word-wrap: break-word;
      font-size: 18px;
      letter-spacing: 10px;
      margin: 15px 0;
    }

    &-Button {
      background-color: var(--ant-primary-color);
      border: none;
      margin: 15px 0;
      color: #fff;
      height: 40px;
      &:hover {
        color: var(--ant-primary-2);
        border-color: #fff;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px rgba(50, 250, 255, 0.75);
        border-color: var(--ant-primary-color);
      }
    }

    &-icon {
      bottom: 20px;
      font-size: 24px;
      position: absolute;
      padding: 10px 15px;
      border-radius: 50%;
      cursor: pointer;
      left: 50%;
      margin-left: -27px;
      path {
        font-weight: bold;
      }
      &:hover {
        background-color: var(--ant-primary-color);
      }
    }
  }

  .fast-nav-btn {
    position: fixed;
    right: 55px;
    top: 40px;
    z-index: 9999;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    &:hover {
      background-color: var(--ant-primary-color);
    }
  }
}

.fast-nav-mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.fast-nav {
  transform: translateZ(0) translateX(45%) skew(-12deg);
  z-index: 10;
  transition: 0.5s right;
  width: 800px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -800px;
  z-index: 999;
}
.fast-nav-hide {
  right: 0;
}

.fast-nav-menus {
  position: fixed;
  top: 200px;
  right: 60px;
  z-index: 999999;
  font-size: 20px;
  li {
    display: block;
    text-align: right;
    line-height: 80px;
    &:hover {
      color: var(--ant-primary-color);
      cursor: pointer;
    }
  }
}

.container h3 {
  overflow: hidden;
  margin-bottom: 20px;
  height: 40px;
}
.container h3 span {
  color: #fff;
  font-size: 31px;
  line-height: 40px;
}
#effect1 {
  color: var(--ant-primary-color);
  display: none;
  font-size: 16px;
  margin-top: 25px;
  height: 40px;
  position: relative;
  font-family: "Microsoft Yahei";
}
#effect1 span {
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  line-height: 40px;
}
