.ArticleCard {
  padding: 25px;
  background-color: #fff;
  position: relative;
  transition: background-color 1s ease-out;
  opacity: 1;
  overflow: hidden;
  border-radius: 15px;

  .topping {
    position: absolute;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 74px;
    background-color: #ff5722;
    color: #fff;
    transform: rotate(-45deg);
    left: -18px;
    top: 9px;
  }

  .time {
    position: absolute;
    right: 0;
    top: 0;
  }

  .title {
    width: calc(100% - 90px);
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e9e7;

    span {
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      color: #2ea7e0;
    }
  }

  .content {
    margin: 20px 0 0 0;
    line-height: 28px;
    position: relative;
    min-height: 200px;
    border-bottom: 1px solid #e8e9e7;
    display: flex;

    .img-box {
      width: 300px;
      height: 180px;
      border: 1px solid #e8e9e7;
      overflow: hidden;
      z-index: 9999;
    }

    .content-box {
      overflow: hidden;
      margin-left: 20px;
      flex: 1;
      color: #383837;
      text-overflow: ellipsis;
      display: -webkit-box;
      /* 限制在一个块元素显示的文本的行数 */
      -webkit-line-clamp: 2;
      /* 设置或检索伸缩盒对象的子元素的排列方式 */
      -webkit-box-orient: vertical;
    }
  }

  .toolbar {
    margin-top: 15px;

    .record {
      float: right;
      display: flex;

      .reply {
        margin-right: 10px;
      }
    }
  }
}

.ArticleCard:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(26, 34, 34, 0.75);
}

@media screen and (max-width: 800px) {
  .ArticleCard {
    .content {
      display: block;

      .content-box {
        margin: 0 !important;
      }

      .img-box {
        width: 90%;
      }
    }
  }
}
