.homeArticle {
  padding: 100px 0;
  min-height: 850px;
  overflow: hidden;
  .main {
    width: 70%;
    margin: 0 auto;
    .title {
      font-size: 35px;
      text-align: center;
    }
    .autograph {
      text-align: center;

      span {
        display: block;
        width: 300px;
        margin: 0 auto;
        color: gray;
        margin-top: 20px;
      }
    }
    .content {
      display: flex;

      .item {
        margin-top: 50px;
        width: 33.33%;
        padding: 0 20px;

        position: relative;
        .item-box {
          background-color: #faf9f9;
          height: 100%;
        }
        .item-img {
          width: 100%;
          height: 250px;
          overflow: hidden;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            transition: all 0.5s;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($color: #fff, $alpha: 0.3);
            transform: translateY(-100%);
            z-index: 999;
          }
          img {
            width: 100%;
            height: 100%;
            transition: all 0.5s;
          }

          &:hover img {
            transform: scale(1.2);
          }

          &:hover::before {
            transform: translateY(0%);
          }

          .link {
            display: block;
            background-color: #555;
            text-align: center;
            line-height: 40px;
            width: 40px;
            color: #fff;
            position: absolute;
            top: -20px;
            left: calc(50% - 20px);
            opacity: 0;
            transition: all 0.5s;
          }
          &:hover .link {
            opacity: 1;
            top: calc(50% - 20px);
            z-index: 9999;
          }
        }

        .item-content {
          padding: 30px 15px;
          .item-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 40px;
          }
          .item-time {
            color: #bbb;
            line-height: 30px;
          }
          .more {
            display: block;
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    width: 90% !important;
    .content {
      flex-direction: column;
      .item {
        width: 100% !important;
      }
    }
  }
}
