.plate-toolbar {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  position: relative;

  &-content {
    // background-color: var(--background-color);
    box-shadow: var(--box-shadow);
  }

  &-content-fixed {
    position: fixed;
    top: 70px;
  }

  .toolbarFlag {
    position: fixed;
    right: 0;
    top: 30%;
    background-color: var(--background-color-block);
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 999;
  }
}
