.aplayerDark {
  background-color: #000;
  .aplayer-body {
    background-color: #000 !important;
  }
  .aplayer-list-light {
    background-color: #444 !important;
  }
  .aplayer-author,
  .aplayer-list-author {
    color: #999 !important;
  }
}
