.plate-main {
  max-width: var(--heart-width);
  // background-color: var(--background-color);
  margin: 0 auto;
  // border-radius: 15px;
  position: relative;
  top: -50px;
  @media screen and (max-width: 800px) {
    margin: 0 20px;
  }
}
