.plate-content {
  max-width: var(--heart-width);
  margin: 0 auto;
  position: relative;
  top: -50px;
  padding-bottom: 50px;
  display: flex;
  @media screen and (max-width: 800px) {
    margin: 0 20px;
  }

  .plate-main {
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    flex: 1;
  }
  .plate-list {
    width: calc(75% - 25px);
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .plate-toolbar {
    width: 25%;
    margin-left: 25px;
    position: relative;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
