.plate-head {
  position: relative;
  height: 600px;
  width: 100%;
  opacity: 0.8;
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  &-info {
    color: #fff;
    text-align: center;
    width: 100%;
    h2 {
      font-weight: 500;
      font-size: 40px;
      margin-bottom: 20px;
      letter-spacing: 5px;
      text-shadow: 0px 0px 10px black;
    }
    p {
      font-size: 20px;
      text-shadow: 0px 0px 10px black;
    }
  }
}

.plate-main {
  max-width: var(--heart-width);
  background-color: var(--background-color);
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  top: -50px;
  @media screen and (max-width: 800px) {
    margin: 0 20px;
  }
}
