.toolItem {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 15px;
  box-shadow: var(--box-shadow);
  .catalogue {
    font-size: 18px;
  }
  .ant-divider-horizontal {
    margin: 10px auto;
  }
}
