.toolLogin {
  padding: 0 20px;
  text-align: center;
  .qqLogin {
    cursor: pointer;
    margin-right: 15px;
  }
}

.login {
  font-family: none;
}

.userAvatar {
  cursor: pointer;
}

.wxQrCode {
  img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }
}
