.progress-container {
  padding: 50px 0;
  border: 1px solid #eee;

  .progress {
    margin: 0 auto;
    width: 40%;
    @media screen and (max-width: 600px) {
      width: 80%;
    }
    .gress {
      width: 100%;
    }
  }
  h3 {
    margin-top: 20px;
  }
}
