#iphone-menus {
  display: none;
  padding: 0 15px;
  font-size: 18px;
  color: #fff;

  @media screen and (max-width: 800px) {
    display: inline-block;
    float: left;
  }
}
a {
  color: inherit;
}
