.commentLoginBtn {
  color: var(--ant-primary-color);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: var(--ant-primary-7);
  }
}

#comment {
  padding: 20px 0;
  .ant-list-header {
    padding-bottom: 5px;
    padding-top: 20px;
    border: none;
  }
}
.commentCon {
  z-index: 1;

  .total {
    padding-left: 10px;
  }
  .ant-list-items {
    overflow: hidden;
    border-radius: 15px;
  }

  .replyItem {
    border-bottom: 1px solid #eee;
    &:last-child {
      border: none;
    }
    .replyCon {
      padding-left: 24px;
    }
  }
  .itemList {
    font-size: 12px !important;
  }
  .itemList-item {
    background-color: var(--ant-primary-1);
    padding: 10px;
    margin-top: 2px;
  }
  .ant-comment-content-detail {
    padding-top: 15px;
  }

  // .grid {
  //   border-bottom: 1px solid #eee;
  // }
}
