.commentLoginBtn {
  color: var(--ant-primary-color);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: var(--ant-primary-7);
  }
}
.commentCon {
  padding-bottom: 15px;
  z-index: 1;

  .total {
    padding-left: 10px;
  }
  .ant-list-items {
    border-radius: 15px;
    overflow: hidden;
  }

  .replyItem {
    background-color: var(--background-color-block);
    .replyCon {
      padding-left: 24px;
    }
  }
  .itemList {
    font-size: 12px !important;
  }
  .itemList-item {
    background-color: var(--ant-primary-1);
    padding: 10px;
    margin-top: 2px;
  }
  .ant-comment-content-detail {
    padding-top: 15px;
  }

  .grid {
    border-bottom: 1px solid #eee;
  }
}
