.test {
  .symbol-top {
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid #666;
    margin-right: 10px;
  }
  #div1 {
    width: 1000px;
    height: 400px;
    border: 1px solid #666;
  }
}
.d2h-code-side-linenumber {
  position: relative !important;
}
.Demo {
  position: relative;
  // display: flex;
  // justify-content: space-around;
  // .editor {
  //   width: 40%;
  // }
}
.d2h-wrapper {
  height: 100%;
}
#d2h-9 {
  height: 100%;
}
.react-code-diff-lite {
  height: 100%;
}
