.ReactMarkdown {
  li {
    margin-left: 18px;
  }

  img {
    max-width: 100%;
  }

  .md-title-box {
    position: relative;
    margin-bottom: 20px;
    // 标题样式2
    .md-title2 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 24px;
      display: inline-block;
      font-weight: 700;
      background: var(--ant-primary-color);
      color: #fff;
      padding: 3px 10px;
      border-top-right-radius: 6px;
      margin-right: 2px;
      box-shadow: 6px 3px 0 0 var(--ant-primary-3);
      @media screen and (max-width: 800px) {
        box-shadow: none;
      }
      &::after {
        content: " ";
        position: absolute;
        bottom: -3px;
        left: -6px;
        display: block;
        width: 100%;
        @media screen and (max-width: 800px) {
          display: none;
        }
        border-bottom: 3px solid var(--ant-primary-color);
      }
      &::selection {
        background-color: var(--ant-primary-3) !important;
      }
    }
  }

  .copy-content {
    position: relative;
    .copy {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      padding: 2px 8px;
      cursor: pointer;
      font-size: 15px;
    }
  }

  .hr {
    margin: 10px 0;
  }

  .md-h3 {
    margin: 24px 0 16px 0;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--ant-primary-color);
  }
  .text-shadow {
    padding: 3px;
    border-radius: 5px;
    background-color: var(--ant-primary-3);
  }

  h4 {
    font-weight: bold;
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
    padding-left: 20px;
  }

  table {
    margin-bottom: 20px;
  }
  th,
  tr,
  td {
    padding: 10px;
    border: 2px solid var(--ant-primary-3);
  }

  blockquote {
    padding-left: 1em;
    border-left: 0.25em solid var(--ant-primary-3);
    background-color: var(--highlight-background-color);
    p {
      white-space: pre-wrap;
      line-height: 30px;
    }
  }

  a {
    color: var(--ant-primary-color);
  }
  pre {
    overflow: auto;
  }
}
