@import url("./theme.css");

@font-face {
  font-family: "站酷高端黑 Regular";
  font-weight: 400;
  src: url("~@/assets/font/zcool-gdh_Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "仓耳渔阳体 W03";
  font-weight: 400;
  src: url("~@/assets/font/TsangerYuYangT_W03_W03.ttf");
  font-display: swap;
}

@font-face {
  font-family: "阿里妈妈数黑体";
  font-weight: 0;
  src: url("~@/assets/font/Alimama_ShuHeiTi_Bold.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto !important;
  background-color: #374140 !important;
}

#root {
  font-size: 16px;
  font-family: "仓耳渔阳体 W03";

  @media screen and (max-width: 500px) {
    font-size: 19px;
  }
  overflow: hidden;
}

.el-popover {
  min-width: 0 !important;
}

.ant-comment-content-detail {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  background-color: #fff;
  position: fixed;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: var(--ant-primary-3);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

// 移动端适配
@media screen and (max-width: 800px) {
  .nav {
    display: none !important;
  }

  .article-list {
    width: 100% !important;
  }
}
