@import url("./theme.css");

@font-face {
  font-family: "站酷高端黑 Regular";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/aRNJwZt6eJY6/eMn4iuLqgobjLCyr4JCEU.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/aRNJwZt6eJY6/QXTmTdUh_8lLR3p8_zSH1.woff")
      format("woff");
  font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "仓耳渔阳体 W03";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/aRNJwZt6eJY6/z79nLCOtI_t-TtZ1Ol44B.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/aRNJwZt6eJY6/UFvBdRrpcAymfqItJ8Dvc.woff")
      format("woff");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto !important;
}

#root {
  font-size: 14px;
  @media screen and (max-width: 500px) {
    font-size: 19px;
  }
  overflow: hidden;
}

.el-popover {
  min-width: 0 !important;
}

.ant-comment-content-detail {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  background-color: #fff;
  position: fixed;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: var(--ant-primary-3);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

// 移动端适配
@media screen and (max-width: 800px) {
  .nav {
    display: none !important;
  }

  .article-list {
    width: 100% !important;
  }
}
