#ArticleDetail {
  display: flex;
  overflow: hidden;
  .anchorFlag {
    position: fixed;
    right: 0;
    top: 30%;
    background-color: #eee;
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .ArticleDetail {
    background-color: #fff;
    padding: 10px 30px;
    position: relative;
    width: calc(75% - 20px);
    @media screen and (max-width: 800px) {
      width: 100%;
      .updateTime {
        position: absolute;
        right: 0;
        top: 150%;
        width: 100%;
      }
    }
    border-radius: 10px;
    .time {
      position: absolute;
      top: 0;
      right: 0;
    }

    .title {
      text-align: center;
      font-size: 25px;
      @media screen and (max-width: 800px) {
        width: 80%;
      }
    }

    .article-info {
      position: relative;

      small {
        color: #787977;
      }
    }
  }

  .ArticleDetail-toolbar {
    width: 25%;
    margin-left: 15px;

    &-fixed {
      position: fixed;
    }

    &-item {
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 15px;
      .catalogue {
        font-size: 18px;
      }
      .ant-divider-horizontal {
        margin: 10px auto;
      }

      .anchorList {
        overflow: auto;

        .oneAnchor {
          font-weight: bold;
        }

        .twoAnchor {
          a {
            font-size: 13px;
            text-indent: 1em;
          }
        }
      }

      .aboutArticle {
        max-height: 30vh;
        overflow: auto;
      }

      .aboutArticle-item {
        margin-bottom: 10px;
        &-title {
          cursor: pointer;
          &:hover {
            color: var(--ant-primary-color);
          }
        }
        &-info {
          color: #909090;
        }
      }
    }
  }
}

.anchorDrawer {
  padding-top: 10px;
}
