#articleDetail {
  .content {
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    display: inline-block;
    box-shadow: var(--box-shadow);
    @media screen and (max-width: 800px) {
      width: 100%;
      .updateTime {
        position: absolute;
        right: 0;
        top: 150%;
        width: 100%;
      }
    }
    border-radius: 10px;
    .time {
      position: absolute;
      top: 0;
      right: 0;
    }

    .title {
      text-align: center;
      font-size: 25px;
      @media screen and (max-width: 800px) {
        width: 80%;
      }
    }
  }

  .aboutArticle {
    max-height: 30vh;
    overflow: auto;

    &-item {
      margin-bottom: 10px;
      &-title {
        cursor: pointer;
        &:hover {
          color: var(--ant-primary-color);
        }
      }
      &-info {
        color: #909090;
      }
    }
  }
}
