footer {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #999;
  a {
    color: var(--ant-primary-color);
  }

  .AllRights {
    display: block;
  }

  .beianNumber {
    margin-right: 15px;
    img {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  @media screen and (max-width: 600px) {
    .icp,
    .beianNumber {
      display: block;
    }
  }
}
