.banner-container {
  position: relative;
  height: 500px;
  width: 100%;
  opacity: 0.8;
  background-image: url("~@/assets/img/bg/bg1.webp");
  background-size: cover;
  background-position: center;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    h2 {
      font-weight: 500;
      font-size: 40px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
    }
  }
}
